@charset "utf-8";

:root { /* Paleta de cores */
    --branco: #ffffff;
    --corDeFundo: #d8d8d8;
    --corDeFundoDoCabecalho: #0000ff;
    --corDeFundoDasSecoes: #ebebeb;
    --corDeFundoDoRodape: #bbb9b9;
    --preto: #000000;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--corDeFundo);
    color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    width: 100%;
}

#cabecalho {
    background: var(--corDeFundoDoCabecalho);
    color: var(--branco);
    padding: 7px;
    margin-bottom: 7px;
}

#cabecalho figure img {
    width: 300px;
}

#cabecalho a {
    color: var(--branco);
}

#menu {
    display: block;
    list-style: none;
    margin: 7px;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

#menu li {
    background: green;
    color: var(--preto);
    display: inline-block;
    margin: 0px 7px 0px 0px;
    border: 1px solid var(--preto);
    padding: 7px;
    text-align: center;
}

#menu li:hover {
    background-color: aqua;
    text-decoration: none;
}

#menu li a {
    color: var(--preto);
    text-decoration: none;
}

#menu a:hover {
    color: var(--branco);
}

section {
    border-top: 1px solid var(--preto);
    background: var(--corDeFundoDasSecoes);
    margin: 7px;
    padding: 7px;
}

article {
    background: var(--branco);
    margin: 7px;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

div.article {
    padding: 7px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: justify;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

figcaption p {
    font-size: 10px;
    text-align: center;
}

.rodapedoartigo {
    margin: 0px;
}

footer {
    background: var(--corDeFundoDoRodape);
    margin: 7px;
    padding: 7px;
}

#circulacao {
    background: var(--preto);
    color: var(--branco);
    padding: 7px;
    text-align: center;
}