@charset "utf-8";

:root { /* Paleta de cores */
    --branco: #ffffff;
    --corDeFundo: #d8d8d8;
    --corDeFundoDoCabecalho: #0000ff;
    --corDeFundoDasSecoes: #ebebeb;
    --corDeFundoDoRodape: #bbb9b9;
    --preto: #000000;
}

body {
    background: var(--corDeFundo);
    color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

#cabecalho {
    background: var(--corDeFundoDoCabecalho);
    color: var(--branco);
    padding: 7px;
}

#cabecalho a {
    color: var(--branco);
}
img#logo {
    width: 290px;
}

section {
    border-top: 1px solid var(--preto);
    background: var(--corDeFundoDasSecoes);
    margin: 7px;
    padding: 7px;
}

article {
    background: var(--branco);
    margin: 7px;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

div.article {
    padding: 7px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: justify;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

figcaption p {
    font-size: 10px;
    text-align: center;
}

.rodapedoartigo {
    margin: 0px;
}

footer {
    background: var(--corDeFundoDoRodape);
    margin: 7px;
    padding: 7px;
}

#circulacao {
    background: var(--preto);
    color: var(--branco);
    padding: 7px;
    text-align: center;
}