@charset "utf-8";

/* TYPICAL DEVICE BREAKPOINTS
---------------------------
Pequenas telas: até 600px;
Celular: 600px até 768px;
Table: 768px até 992px;
Descktop: 992px até 1200px;
grandes Telas: acima de 1200px. 

Obs: breakpoints recomendados pelo W3c até a data de 26/08/2022.*/

:root { /* Paleta de cores */
    --branco: #ffffff;
    --corDeFundo: #d8d8d8;
    --corDeFundoDoCabecalho: #0000ff;
    --corDeFundoDasSecoes: #ebebeb;
    --corDeFundoDoRodape: #bbb9b9;
    --preto: #000000;
    /* Paleta da logomarca */
    --azulLogo: #2e3092;
    /*--branco:#ffffff; inativado pois já consta na paleta inicial */
    --verdeLogo: #4ca391;
    --amareloLogo: #fff101;
    --vermelhoLogo: #ee1d23;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
  }

/* IMPRESSÕES */
@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
    }
        #cabecalho {
            color: var(--preto);
    }

    .iconvoltaraotopo {
        display: none;
    }
}

/* PEQUENOS DISPOSITIVOS */

@media screen and (max-width: 599px) {
    
    .col-p-1 {width: 8.33%;}
    .col-p-2 {width: 16.66%;}
    .col-p-3 {width: 25%;}
    .col-p-4 {width: 33.33%;}
    .col-p-5 {width: 41.66%;}
    .col-p-6 {width: 50%;}
    .col-p-7 {width: 58.33%;}
    .col-p-8 {width: 66.66%;}
    .col-p-9 {width: 75%;}
    .col-p-10 {width: 83.33%;}
    .col-p-11 {width: 91.66%;}
    .col-p-12 {width: 100%;}

    #cabecalho {
        min-height: 157px;
    }

    #figLogo {
        padding: 0px;
        height: 69px;
    }

    #logo {
        width: 270px;
    }

    #h1Cabecalho {
        padding: 7px;
        height: 49px;
    }

    #divDate {
        padding: 7px;
        text-align: center;
        height: 49px;
    }
    
    #divDate p {
        text-align: center;
        min-width: 226px;
    }

    #divHamburguer {
        padding: 0px;
    }

    #divBanner {
        padding: 0px;
        width: 100%;
    }

    #banner {
        width: 100%;
    }

    
    .iconsFontAwesome {
        font-size: 1em;
    }

    .TextoBotao {
        font-size: .9em;
    }

    .imgartigo {
        width: 220px;
    }

    .iconvoltaraotopo {
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .imgartigo {
        max-width: 210px;
    }
    
    footer {
        height: auto;
    }

}

/* CELULARES */
@media screen and (min-width: 600px) and (max-width: 768px) {

    .col-p-1 {width: 8.33%;}
    .col-p-2 {width: 16.66%;}
    .col-p-3 {width: 25%;}
    .col-p-4 {width: 33.33%;}
    .col-p-5 {width: 41.66%;}
    .col-p-6 {width: 50%;}
    .col-p-7 {width: 58.33%;}
    .col-p-8 {width: 66.66%;}
    .col-p-9 {width: 75%;}
    .col-p-10 {width: 83.33%;}
    .col-p-11 {width: 91.66%;}
    .col-p-12 {width: 100%;}

    #cabecalho {
        min-height: 310px;
    }

    #figLogo {
        padding: 0px;
    }

    #logo {
        margin: auto;
        width: 584px;
    }

    #h1Cabecalho {
        padding: 7px;
        height: 49px;
    }

    #divHamburguer {
        padding: 0px;
    }

    #divBanner {
        padding: 0px;
        width: 100%;
    }

    #banner {
        width: 100%;
    }

    
    .iconsFontAwesome {
        font-size: 2.5em;
    }

    .TextoBotao {
        font-size: 1em;
    }

    .iconvoltaraotopo {
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .imgartigo {
        max-width: 210px;
    }
    
    footer {
        height: auto;
    }

}

/* TABLETS */
@media screen and (min-width: 769px) and (max-width: 992px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #cabecalho {
        height: 310px;
    }

    #figLogo {
        float: none;
        margin: auto;
        padding: 0px;
        width: 100%;
        height: 68px;
    }

    #logo {
        width: auto;
    }

    #h1Cabecalho {
        min-width: 190px;
    }

    #figLogo {
        width: 666px;
    }

    #divHamburguer {
        padding: 0px;
    }

    #divDate {
        text-align: right;
    }

    #divBanner {
        padding: 0px;
        width: 100%;
    }

    #banner {
        width: 100%;
    }

    
    .iconsFontAwesome {
        font-size: 3em;
    }

    .TextoBotao {
        font-size: 1em;
    }

    .iconvoltaraotopo {
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .imgartigo {
        max-width: 210px;
    }
    
    footer {
        height: auto;
    }

}

/* DESCTOPS */
@media screen and (min-width: 993px) and (max-width: 1200px) {

    .col-g-1 {width: 8.33%;}
    .col-g-2 {width: 16.66%;}
    .col-g-3 {width: 25%;}
    .col-g-4 {width: 33.33%;}
    .col-g-5 {width: 41.66%;}
    .col-g-6 {width: 50%;}
    .col-g-7 {width: 58.33%;}
    .col-g-8 {width: 66.66%;}
    .col-g-9 {width: 75%;}
    .col-g-10 {width: 83.33%;}
    .col-g-11 {width: 91.66%;}
    .col-g-12 {width: 100%;}

    #cabecalho {
        height: 310px;
    }

    #figLogo {
        margin: auto;
        float: none;
        padding: 0px;
        width: 100%;
        height: 68px;
    }

    #logo {
        width: 979px;
    }

    #h1Cabecalho {
        min-width: 290px;
    }

    #divDate {
        float: right;
        min-width: 288px;
        text-align: right;
    }
    #figLogo {
        width: 666px;
    }

    #divHamburguer {
        padding: 0px;
    }

    #divDate {
        text-align: right;
    }

    #divBanner {
        padding: 0px;
        width: 100%;
    }

    #banner {
        width: 100%;
    }

    
    .iconsFontAwesome {
        font-size: 3.5em;
    }

    .TextoBotao {
        font-size: 1em;
    }

    .iconvoltaraotopo {
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .imgartigo {
        max-width: 330px;
    }

    footer {
        height: auto;
    }

}

/* GRANDES TELAS */
@media screen and (min-width: 1201px) {

    .col-gg-1 {width: 8.33%;}
    .col-gg-2 {width: 16.66%;}
    .col-gg-3 {width: 25%;}
    .col-gg-4 {width: 33.33%;}
    .col-gg-5 {width: 41.66%;}
    .col-gg-6 {width: 50%;}
    .col-gg-7 {width: 58.33%;}
    .col-gg-8 {width: 66.66%;}
    .col-gg-9 {width: 75%;}
    .col-gg-10 {width: 83.33%;}
    .col-gg-11 {width: 91.66%;}
    .col-gg-12 {width: 100%;}

    body {
        width: 100%;
    }

    #cabecalho {
        width: 100%;
        height: 310px;
    }

    #figLogo {
        margin: auto;
        float: center;
        padding: 0px;
        height: auto;
    }

    #logo {
        width: 666px;
    }

    #h1Cabecalho {
        min-width: 320px;
    }
    
    #divHamburguer {
        padding: 0px;
    }

    #divBanner {
        padding: 0px;
        width: 100%;
    }

    #banner {
        width: 1000px;
    }
    
    .iconsFontAwesome {
        font-size: 4em;
    }

    .TextoBotao {
        font-size: 1em;
    }

    .iconvoltaraotopo {
        margin-bottom: 50px;
        margin-right: 50px;
    }

    .imgartigo {
        max-width: 400px;
    }

    footer {
        height: auto;
    }

}