@charset "UTF-8";

/* Mobile First */

:root { /* Paleta de cores inicial */
    --branco: #ffffff;
    --corDeFundo: #d8d8d8;
    --corDeFundoDoCabecalho: #0000ff;
    --corDeFundoDasSecoes: #ebebeb;
    --corDeFundoDoRodape: #bbb9b9;
    --preto: #000000;
    
    /* Paleta da logomarca */
    --azulLogo: #2e3092;
    /*--branco:#ffffff; inativado pois já consta na paleta inicial */
    --verdeLogo: #4ca391;
    --amareloLogo: #fff101;
    --vermelhoLogo: #ee1d23;
}

* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    /*height: 100vw;*/
}

body {
    background: var(--azulLogo);
    color: var(--preto);
}

#cabecalho {
    background-image: linear-gradient(#fff101,#4ca391,#2e3092);
    display: block;
    color: var(--preto);
    height: 115px;
    padding: 7px;
    margin-bottom: 7px;
}

#cabecalho figure img {
    width: 300px;
}

#hamburguer {
    padding: 7px;
    cursor: pointer;
}

#navMenu {
    display: none;
    list-style: none;
    margin: 7px;
}

#navMenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

#navMenu li {
    background: var(--verdeLogo);
    color: var(--amareloLogo);
    display: inline-block;
    margin: 0px 7px 0px 0px;
    border: 1px solid var(--preto);
    padding: 7px;
    text-align: center;
}

#navMenu li:hover {
    background-color: aqua;
    text-decoration: none;
}

#navMenu li a {
    color: var(--amareloLogo);
    text-decoration: none;
}

#navMenu a:hover {
    color: var(--verdeLogo);
}

#divBanner {
    margin-left: 7px;

}

td.banner {
    text-align: center;
}

#banner {
    max-width: 535px;
}

table {
    font-size: .9em;
    width: 100%;
    margin: auto;
}

table a {
    color: var(--amareloLogo);
}

table a:hover {
    color: var(--verdeLogo);
}

.iconsFontAwesome {
    color: #8a9eb4;
}

#iconpaginaanterior {
    text-align: left;
}

#iconpaginaseguinte {
    text-align: right;
}

.iconvoltaraotopo {
    font-size: 1em;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

section {
    border-top: 1px solid var(--preto);
    color: var(--preto);
    background: var(--corDeFundoDasSecoes);
    margin: 7px;
    padding: 7px;
}

article {
    background: var(--branco);
    color: var(--preto);
    margin: 7px;
    padding: 7px;
}

article header {
    margin-bottom: 33px;
}

article h1 {
    font-size: 2em;
    margin-bottom: 11px;
}

article h2 {
    font-size: 1.8em;
    margin-bottom: 11px;
}

article h3 {
    font-size: 1,6em;
    margin-bottom: 11px;
}

article p {
    margin-bottom: 11px;
}

img.imgartigo {
    max-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: justify;
}

.center {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    padding: 7px;
}

figcaption p {
    font-size: .5em;
    text-align: center;
}

.rodapedoartigo {
    background: var(--azulLogo);
    color: var(--amareloLogo);
    margin: 0px;
    height: 33px;
}

footer {
    
    background-image: linear-gradient(#2e3092,#4ca391,#fff101);
    color: var(--preto);
    margin: 0px -10px -20px -10px;
    padding: 7px;
}

#circulacao {
    background: var(--preto);
    color: var(--amareloLogo);
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 7px;
    text-align: center;
    width: 100%;
}

footer a {
    color: var(--preto);
    text-decoration: none;
}

footer a:hover {
    color: var(--azulLogo);
}